---
interface Props {
    quantity: number | string;
    information: string;
}
const { quantity, information } = Astro.props;
---

<div class="text-center max-w-min">
    <p 
        class="text-lg font-medium  text-[#3A3A3A] 
        md:text-2xl md:leading-8"
    >
        {quantity}
    </p>
    <p 
        class="text-base font-medium text-[#575757]
        md:text-[22px] md:leading-8"
    >
        {information}
    </p>
</div>