---
import '../../../styles.css';
---

<div 
    class="grid grid-cols-2 gap-4 max-w-md mx-auto py-5 text-center
        md:gap-9 md:py-8 md:max-w-xl"
>
    <a 
        class="flex justify-center items-center py-4 rounded-xl text-sm font-medium text-neutral-700 bg-emerald-300
            text-secondary md:py-6" 
        href=""
    >
        <p 
            class="mr-1
                md:mr-4"
        >
            Download CV
        </p> 
        <div>
            <img 
                class="w-5
                    md:w-auto"
                src="download.svg" 
                alt="Download CV"
            >
        </div>
    </a>
    <a 
        class="block py-4 rounded-xl text-sm font-medium text-neutral-700 bg-white
            text-secondary md:py-6" 
        href="/contact"
    >
        Contacto
    </a>
</div>