<div 
    class="flex p-2 rounded-2xl bg-white
        md:p-4"
>
    <button 
        class="flex-1 py-4 rounded-xl text-base font-medium text-neutral-900 bg-neutral-300
            md:py-6 md:text-xl"
    >
        Proyectos
    </button>
    <button 
        class="flex-1 py-4 rounded-xl text-base font-medium text-neutral-900 bg-white
            md:py-6 md:text-xl"
    >
        Skills
    </button>
</div>