<div class="py-14">
    <div class="flex p-4 rounded-2xl bg-white">
        <button class="flex-1 py-7 rounded-xl text-xl font-medium text-neutral-900 bg-neutral-300">
            Proyectos
        </button>
        <button class="flex-1 py-7 rounded-xl text-xl font-medium text-neutral-900 bg-white">
            Skills
        </button>
    </div>
</div>