---
import { Tab } from "./Tab";
---

<header class="flex border-b border-[#1E2D3D] text-[#607B96] md:text-base">
  <div class="py-4 md:px-[22px] md:border-r md:border-[#1E2D3D]">
    <p>kevin-gomez</p>
  </div>
  <nav class="flex flex-1 justify-between">
    <div>
      <Tab client:load title="_hello"  onClick={() => {}}/>
      <Tab client:load title="_about-me"  onClick={() => {}}/>
      <Tab client:load title="_projects"  onClick={() => {}}/> 
    </div>
    <Tab client:load title="_contact-me"  onClick={() => {}}/> 
  </nav>
</header>