---
import NavLink from "src/components/NavLink.astro";
---

<style>
  header {
    animation: 1500ms normal ease-out slidein-header ;
  }

  @keyframes slidein-header {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
  }
</style>

<header class="flex items-center primary-font md:py-5 text-white">
  <h1 class="font-medium lg:text-2xl">Kevinantech</h1>
  <nav class="flex text-sm lg:flex-1 lg:justify-end lg:gap-12 xl:gap-16 xl:text-base">
    <NavLink title="Home" href="#home"/>
    <NavLink title="About" href="#about"/>
    <NavLink title="Projects" href="#projects"/>
    <NavLink title="Skills" href="#skills"/>
    <NavLink title="Contact" href="#contact"/>
  </nav>
</header>