---
interface Props {
    pageTitle: string
}
const { pageTitle } = Astro.props;
const themeIconPath: string = pageTitle === 'Inicio' ? "../public/theme-icon.svg" : "../../public/theme-icon.svg";
---
<div 
    class="py-5
        md:py-8"
>
    <button class="block mx-auto p-3 rounded-full bg-white">
        <img class="w-6" src={themeIconPath} alt="Switch Theme">    
    </button>
</div>