---

---

<div class="outline outline-2 outline-black w-max mx-auto my-8">

    <!-- Contenedor para la foto de perfil -->
    <div class="inline-block">
        <img class="" src="" alt="Profile Photo">
    </div>

    <!-- Contenedor con el resto de informacion textual. -->
    <div class="inline-grid gap-4">
        <h1 class="text-5xl">Kevin Gomez</h1>
        <p class="text-2xl font-medium">Front-end Developer</p>
        <div class="">
            <a class="inline-block mr-4" href="" target="_blank">
                <img class="align-top" src="../public/github.svg" alt="GitHub">
            </a>
            <a class="inline-block mr-4" href="" target="_blank">
                <img class="align-top" src="../public/linkedin.svg" alt="Linkedin">
            </a>
            <a class="inline-block mr-4" href="" target="_blank">
                <img class="align-top" src="../public/tiktok.svg" alt="TikTok">
            </a>
        </div>
    </div>
</div>